COSMOS_CONNECTION_STRING=AccountEndpoint=https://<your-account>.documents.azure.com:443/;AccountKey=<your-key>;
COSMOS_DATABASE_ID=ProductsDb
COSMOS_CONTAINER_ID=products
API_BASE_URL=https://api-products-efg7evbffkhybqde.brazilsouth-01.azurewebsites.net
NODE_ENV=production
